<div class="detail-claim">
	<h1 class="detail-claim__title">Detalle del Reclamo</h1>
	<div class="detail-claim__form">
		<tui-textfield tuiTextfieldSize="m">
			<label tuiLabel>Producto</label>
			<input tuiInput [formField]="form.product" type="text" />
		</tui-textfield>
		<tui-error [formField]="form.product" />

		<tui-textfield>
			<label tuiLabel>Detalle del reclamo</label>
			<textarea tuiTextarea [formField]="form.claim"></textarea>
		</tui-textfield>
		<tui-error [formField]="form.claim" />
	</div>
</div>
