@if (form) {
	<div class="personal-information">
		<h1 class="personal-information__title">Informacion personal</h1>
		<form class="personal-information__form" [formGroup]="form">
			<tui-textfield tuiTextfieldSize="m">
				<label tuiLabel>Nombres</label>
				<input tuiInput formControlName="names" type="text" />
			</tui-textfield>
			<tui-error formControlName="names" />

			<tui-textfield tuiTextfieldSize="m">
				<label tuiLabel>Apellido Paterno</label>
				<input tuiInput formControlName="paternalSurname" type="text" />
			</tui-textfield>
			<tui-error formControlName="paternalSurname" />

			<tui-textfield tuiTextfieldSize="m">
				<label tuiLabel>Apellido Materno</label>
				<input tuiInput formControlName="maternalSurname" type="text" />
			</tui-textfield>
			<tui-error formControlName="maternalSurname" />

			<tui-textfield tuiTextfieldSize="m">
				<label tuiLabel>Nro. DNI</label>
				<input tuiInput formControlName="dni" type="number" />
			</tui-textfield>
			<tui-error formControlName="dni" />
		</form>
	</div>
}
