<div class="contact-information">
	<h1 class="contact-information__title">Datos de Contacto</h1>
	<div class="contact-information__form">
		<tui-textfield tuiTextfieldSize="m">
			<label tuiLabel>Email</label>
			<input tuiInput autocomplete="email" [formField]="form.email" type="email" />
		</tui-textfield>
		<tui-error [formField]="form.email" />

		<tui-textfield tuiTextfieldSize="m">
			<label tuiLabel>Celular</label>
			<input tuiInput [formField]="form.phone" type="text" />
		</tui-textfield>
		<tui-error [formField]="form.phone" />

		<tui-textfield tuiTextfieldSize="m">
			<label tuiLabel>Dirección</label>
			<input tuiInput [formField]="form.address" type="text" />
		</tui-textfield>
		<tui-error [formField]="form.address" />
	</div>
</div>
