<div class="contact-information">
	<h1 class="contact-information__title">Datos de Contacto</h1>
	<form class="contact-information__form" [formGroup]="form">
		<tui-input tuiTextfieldSize="m" formControlName="email">
			Email
			<input autocomplete="email" tuiTextfieldLegacy type="email" />
		</tui-input>
		<tui-error formControlName="email" [error]="[] | tuiFieldError | async" />

		<tui-input tuiTextfieldSize="m" formControlName="phone">
			Celular
			<input tuiTextfieldLegacy type="text" />
		</tui-input>
		<tui-error formControlName="phone" [error]="[] | tuiFieldError | async" />

		<tui-input tuiTextfieldSize="m" formControlName="address">
			Dirección
			<input tuiTextfieldLegacy type="text" />
		</tui-input>

		<tui-error formControlName="address" [error]="[] | tuiFieldError | async" />
	</form>
</div>
